
body {
    padding: 15px;
    background-color:'snow';
    text-align: center;
    font-family: 'Courier New', monospace;  
}

div#title{
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 64px;
}

span.even{
    text-align: right;
    float: right;
    color: #00008B;
    margin-bottom: 10px;
    clear: both;
}

span.odd{
    text-align: left;
    float: left;
    color: #007A00;    
    margin-bottom: 10px;
    clear: both;
}

div#text-log{
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

div#text-input{
    margin: 30px;
}

p#about{
   font-size: 80%;
}